In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# File to Load
goodreads_path = "Resources/books_clean.csv"

# Read the modified GoodReads csv and store into Pandas DataFrame
goodreads_df = pd.read_csv(goodreads_path, encoding="utf-8")
goodreads_df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [5]:
len(goodreads_df["Authors"])

10000

In [4]:
# Calculate the number of unique authors in the DataFrame
author_count = len(goodreads_df["Authors"].unique())

# Calculate the earliest/latest year a book was published
earliest_year = goodreads_df["Publication Year"].min()
latest_year = goodreads_df["Publication Year"].max()

# Calculate the total reviews for the entire dataset
total_reviews = goodreads_df["One Star Reviews"].sum() + goodreads_df["Two Star Reviews"].sum(
) + goodreads_df["Three Star Reviews"].sum() + goodreads_df["Four Star Reviews"].sum() + goodreads_df["Five Star Reviews"].sum()

In [8]:
# Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"Total Unique Authors": author_count,
                              "Earliest Year": earliest_year,
                              "Latest Year": latest_year,
                              "Total Reviews": [total_reviews]})
summary_table

   Total Unique Authors  Earliest Year  Latest Year  Total Reviews
0                  4664        -1750.0       2017.0      596873216