In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "Resources/flavors_of_cacao.csv"
chocolate_ratings_df = pd.read_csv(csv_path)
chocolate_ratings_df.head(10)

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

In [3]:
chocolate_ratings_df.columns

Index(['Company (Maker-if known)', 'Specific Bean Origin or Bar Name', 'REF',
       'Review Date', 'Cocoa Percent', 'Company Location', 'Rating',
       'Bean Type', 'Broad Bean Origin'],
      dtype='object')

In [3]:
chocolate_ratings_df["Cocoa Percent"]

0       63%
1       70%
2       70%
3       70%
4       70%
5       70%
6       70%
7       70%
8       70%
9       70%
10      70%
11      70%
12      70%
13      70%
14      70%
15      70%
16      70%
17      70%
18      70%
19      70%
20      63%
21      70%
22      63%
23      70%
24      70%
25      60%
26      80%
27      88%
28      72%
29      55%
       ...
1765    70%
1766    60%
1767    70%
1768    70%
1769    85%
1770    85%
1771    70%
1772    78%
1773    78%
1774    65%
1775    68%
1776    66%
1777    72%
1778    80%
1779    72%
1780    65%
1781    70%
1782    70%
1783    62%
1784    75%
1785    75%
1786    90%
1787    70%
1788    68%
1789    58%
1790    70%
1791    65%
1792    65%
1793    62%
1794    65%
Name: Cocoa Percent, Length: 1795, dtype: object

In [4]:
chocolate_ratings_df['Cocoa Percent'] = chocolate_ratings_df['Cocoa Percent'].replace('%','',regex=True).astype('float')

In [5]:
# Finding the average cocoa percent
chocolate_ratings_df["Cocoa Percent"].mean()

71.6983286908078

In [6]:
pd.__version__

'0.24.2'