In [2]:
# Import Dependencies
%config IPCompleter.greedy=False
import pandas as pd

In [4]:
# Create a DataFrame of frames using a dictionary of lists
frame_df = pd.DataFrame({
    "Frame": ["Ornate", "Classical", "Modern", "Wood", "Cardboard"],
    "Price": [15.00, 12.50, 10.00, 5.00, 1.00],
    "Sales": [100, 200, 150, 300, "N/A"]
})

frame_df

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A

In [8]:
# Create a DataFrame of paintings using a list of dictionaries 
painting_df = pd.DataFrame([
    {"Painting": "Mona Lisa (Knockoff)", "Price": 25,
     "Popularity": "Very Popular"},
    {"Painting": "Van Gogh (Knockoff)", "Price": 20, "Popularity": "Popular"},
    {"Painting": "Starving Artist", "Price": 10, "Popularity": "Average"},
    {"Painting": "Toddler Drawing", "Price": 1, "Popularity": "Not Popular"}
])

painting_df

               Painting  Price    Popularity
0  Mona Lisa (Knockoff)     25  Very Popular
1   Van Gogh (Knockoff)     20       Popular
2       Starving Artist     10       Average
3       Toddler Drawing      1   Not Popular