In [1]:
# Import Dependencies

In [2]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A

In [3]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1