In [1]:
# Dependencies
import pandas as pd
%config IPCompleter.greedy = True

In [2]:
# We can create a Pandas Series from a raw list
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"])
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [3]:
# Convert a list of dictionarys into a dataframe
states_dicts = [{"STATE": ["New Jersey","Alaska"], "ABBREVIATION": "NJ"},
                {"STATE": "New York", "ABBREVIATION": "NY"}]




df_states = pd.DataFrame(states_dicts)
df_states

  ABBREVIATION                 STATE
0           NJ  [New Jersey, Alaska]
1           NY              New York

In [4]:
# Convert a single dictionary containing lists into a dataframe
df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharoh": ["Thinis", "Memphis"]
     }
)
df

                 Dynasty   Pharoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis